.dog-detail-area {
  display: flex;
  flex-direction: column;
}

.details-container {
  display: flex;
}

.detail-image {
  height: 300px;
}

.edit-link {
  color: black;
  text-decoration: none;
}

.age-title,
.location-title,
.breed-title,
.description-title {
  font-weight: bold;
}
