.search-input {
  display: flex;
  margin: 0 auto;
  margin-top: 150px;
  width: 500px;
  min-height: 30px;
  border-radius: 12px;
  border: 2px solid black;
}

.all-dogs-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding: 25px 15px;
  margin-bottom: 10px;
}
.each-dog {
  border-radius: 25px;
  border: 2px solid black;
  padding: 15px 15px;
  margin: 15px 45px;
  min-width: fit-content;
  align-items: center;
  background-color: #f8d6bc;
}

@media screen and (max-width: 400px) {
  .search-input {
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
  }
}
