.donate-area {
  display: flex;
  flex-direction: column;
  background-color: #ffebda;
  margin-top: 100px;
}
.donate-image {
  position: relative;
}
.donate-banner {
  overflow: hidden;

  margin-top: -200px;
  width: 100%;
  margin-bottom: -180px;
}

.donate-title {
  position: absolute;
  left: 16px;
  padding: 10px;
  z-index: 200;
  font-size: 25px;
  background-color: #f77c00d7;
  color: white;
}

.donate-container {
  margin-top: 220px;
  z-index: 2;
  background-color: #f8d6bc;
  display: flex;
  flex-direction: column;
  padding: 90px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.donate-links a {
  font-size: 20px;
  line-height: 2.5em;
}

.donate-links {
  font-size: 20px;
}

.thank-you {
  font-size: 25px;

  margin-left: 16px;
  color: white;
  background-color: #f77c00d7;
  float: left;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 20px;
    margin: 0;
  }
  .donate-title {
    left: 0;
    top: 107px;
  }
  .donate-links a {
    font-size: 15px;
  }
  .thank-you {
    margin-left: 0;
    font-size: 15px;
    margin-top: 20px;
  }
  .donate-container {
    padding: 50px;
  }
}
