.home-area {
  background-color: #ffebda;
  display: flex;
  flex-direction: column;
}
.banner {
  width: 100%;
  height: auto;
}
.home-banner-image {
  position: relative;
  margin-bottom: 100px;
}

.headliner {
  font-size: 60px;

  position: absolute;
  bottom: 100px;
  left: 16px;

  background-color: #f77c00e2;

  color: white;
  font-weight: bold;
  padding: 25px;
}

.carousel {
  font-size: 30px;
  margin-top: 50px;
}

.statement {
  font-size: 15px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 3em;
  color: #2f2f2f;
}
.brand-statement {
  background-color: #f8d6bc;
  padding: 20px;
}

.adopted {
  margin-bottom: 50px;
  margin-top: 40px;
  color: #2f2f2f;
  float: left;
  background-color: #f77b00;
  color: white;
  margin-left: 16px;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
}
