.home-area {
  background-color: #ffebda;
  display: flex;
  flex-direction: column;
}
.banner {
  width: 100%;
  height: auto;
}
.home-banner-image {
  position: relative;
  margin-bottom: 100px;
}

.headliner {
  font-size: 60px;

  position: absolute;
  bottom: 100px;
  left: 16px;

  background-color: #f77c00e2;

  color: white;
  font-weight: bold;
  padding: 25px;
}

.carousel {
  font-size: 30px;
  margin-top: 50px;
}

.statement {
  font-size: 15px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 3em;
  color: #2f2f2f;
}
.brand-statement {
  background-color: #f8d6bc;
  padding: 20px;
}

.adopted {
  margin-bottom: 50px;
  margin-top: 40px;
  color: #2f2f2f;
  float: left;
  background-color: #f77b00;
  color: white;
  margin-left: 16px;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
}

@media screen and (max-width: 840px) {
  .headliner {
    font-size: 40px;
  }
}

@media screen and (max-width: 650px) {
  .headliner {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .headliner {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .headliner {
    font-size: 18px;
  }
}

@media screen and (max-width: 1044px) {
  div.home-links {
    bottom: 400px;
  }
  .container-link {
    padding-bottom: 50px;
    margin-top: 0px;
    height: 210px;
    width: 150px;
  }
  .headliner {
    bottom: 50px;
  }
}

@media screen and (max-width: 900px) {
  .home-area {
    margin-top: 110px;
  }
  .headliner {
    font-size: 40px;
    bottom: 45px;
  }

  div.home-links {
    bottom: 600px;
  }
}
@media screen and (max-width: 700px) {
  .banner-two {
    width: 605px; /* width of container */
    height: 100%; /* height of container */
    object-fit: cover;
    object-position: 30% 10%;
    margin-top: 65px;
  }
  .home-links {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .banner-two {
    width: 400px; /* width of container */
    height: 100%; /* height of container */
    object-fit: cover;
    object-position: 30% 10%;
    margin-top: 65px;
  }
}

@media screen and (max-width: 540px) {
  .home-area {
    margin-top: 110px;
  }
  .statement {
    line-height: 2em;
  }
  .headliner {
    font-size: 30px;
    bottom: 1px;
    left: 0;
    padding: 5px;
  }
  .home-banner-image {
    margin-bottom: 50px;
  }
  .adopted {
    font-size: 30px;
    margin-top: 0;
    margin-left: 0;
  }
  .title {
    margin: 0;
    padding: 5px;
    text-align: left;
  }
  .home-links {
    display: flex;
    flex-direction: column;
  }
  .make-a-difference {
    margin: 0;
  }

  .banner-two {
    width: 375px; /* width of container */
    height: 100%; /* height of container */
    object-fit: cover;
    object-position: 30% 10%;
    margin-top: 65px;
  }
}
@media screen and (max-width: 360px) {
  div.home-links {
    bottom: 500px;
  }
  .headliner,
  .adopted {
    font-size: 25px;
  }
}
