.nav {
  position: fixed;
  width: 99%;
  font-family: "Luckiest Guy", cursive;
  min-height: 110px;
  display: flex;
  flex-direction: row;
  background-color: rgba(247, 124, 0, 0.906);
  z-index: 99999;
}

.logo {
  display: flex;

  font-size: 40pt;
  font-weight: 900;
  text-decoration: none;
  color: #fcf6ed;
  margin-top: 55px;
  margin-left: 25px;
}

.links {
  min-height: min-content;

  margin-left: auto;
  margin-top: auto;
  margin-right: 30px;
}
.links a {
  text-decoration: none;
  color: #383838;
}
.links a:hover {
  color: #fcf6ed;
}
.link {
  position: relative;

  padding: 15px;
  font-size: 20pt;
}

.link-welcome {
  color: #fcf6ed;
  font-size: 25pt;
  margin-bottom: 40px;
  margin-left: 105px;
}
